.container {
  margin-top: 5rem;
}

.card {
  max-width: 520px;
  margin: 0 auto;
  box-shadow: 8px 8px 8px rgb(187, 187, 187);
  border-radius: 8px;
}

.alert {
  max-width: 520px;
  margin: 6px auto;
}