.container {
  margin-top: 5rem;
}

.alert {
  max-width: 520px;
  margin: 6px auto;
}

.card {
  max-width: 520px;
  margin: 0 auto;
  box-shadow: 8px 8px 8px rgb(187, 187, 187);
  border-radius: 8px;
}

.card-header h1 {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
}