<div *ngIf="mostrarMenu" class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="home" class="nav-link">Home</a>
    </li>
    <li class="nav-item dropdown" *ngFor="let item of navItens">
      <a
        class="nav-link dropdown-toggle"
        data-toggle="dropdown"
      >
        {{ item.title }}
      </a>
      <div class="dropdown-menu">
        <a routerLink={{subitem.value}} class="dropdown-item" *ngFor="let subitem of item.subtitle">
          {{ subitem.name }}
        </a>
      </div>
    </li>
  </ul>
  <button
    class="btn btn-warning btn-sm"
    (click)="logout()"
  >Sair</button>
</div>
<div class="content-page">
  <router-outlet></router-outlet>
</div>