<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar Produto</h1>
    </div>
    <div class="card-body">
      <form class="form">
        
        <div class="card-group">
          <div class="form-group">
            <label>Código</label>
            <input
              type="text"
              class="form-control"
              placeholder="Código"
              [(ngModel)]="produto.codigo"
              name="codigo"
            >
          </div>
          <div class="form-group group-2">
            <label>Código interno</label>
            <input
              type="text"
              class="form-control"
              placeholder="Código interno"
              [(ngModel)]="produto.codigoInterno"
              name="codigoInterno" 
            >
          </div>
        </div>

        <div class="form-group">
          <label for="nomeProduto">Nome</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nome do produto"
            [(ngModel)]="produto.nome"  
            name="nome"
          >
        </div>

        <div class="card-group">
          <div class="form-group">
            <label for="preco">Preço</label>
            <input
              type="text"
              class="form-control"
              placeholder="Preço"
              [(ngModel)]="produto.preco"
              name="preco"
            >
          </div>
          <div class="form-group group-2">
            <label for="volume">Volume</label>
            <input
              type="text"
              class="form-control"
              placeholder="Volume"
              [(ngModel)]="produto.volume"
              name="volume"
            >
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" (click)="create()">Cadastrar</button>
    </div>
  </div>
</div>